{% extends "basic.html" %}
{% block about_us %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
    <style>
        .my-5 {
                margin-top: 2rem !important;
                margin-bottom: 2rem !important;
        }
    </style>
</head>
<body>

<!-- About Company Section -->
<div class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Про нашу компанію</h2>
            <p class="text-center">Ми - провідний постачальник відеоігор та аксесуарів, орієнтований задоволення потреб
                геймерів. Наша команда об'єднує пристрасть до ігор та прагнення надати кращий сервіс, щоб кожен візит до
                нашого магазину залишив лише позитивні враження.</p>
        </div>
    </div>
</div>

<!-- About Us Section -->
<div class="container my-5" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-6">
            <h2>Наша місія</h2>
            <p>Ми - команда ентузіастів, які прагнуть надати вам найкращі ігри та аксесуари. Наша мета – зробити ваш
                ігровий досвід незабутнім, забезпечуючи відмінну якість та сервіс.</p>
        </div>
        <div class="col-lg-6">
            <h2>Наша історія</h2>
            <p>Ми розпочали свій шлях у 2010 році і з того часу виросли у провідного постачальника ігор та аксесуарів.
                Ми пишаємося
                тим, що можемо запропонувати нашим клієнтам широкий асортимент продукції та ексклюзивні пропозиції.</p>
        </div>
    </div>
</div>


<!-- Contact Section -->
<div class="container my-5">
    <h2 class="text-center">Контакти</h2>
    <p class="text-center">Ми завжди раді почути вас. Зв'яжіться з нами по наступним каналам:</p>
    <ul class="list-unstyled text-center">
        <li>Email: info@gamestore.com</li>
        <li>Телефон: +1 234 567 890</li>
        <li>Адреса: 1234 Gaming St, Suite 100, Game City, GC 56789</li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock about_us %}